@media screen and (max-width:600px) {
    .navbar, .panel {
        flex-wrap: wrap;
        height: unset;
    }
    .hero-msg p{
        padding: 20px;
    }

    .hero-section {
        width: 100%;
    }

    .shop-section {
        flex-direction: column;
    }
    .box {
        width: 94%;
        margin-left: 3%;
    }
}